.vs/
CapicuaAPI/obj
CapicuaAPI/bin
CapicuaAPI.Test/obj
CapicuaAPI.Test/bin
CapicuaLibrary/obj
CapicuaLibrary/bin
CapicuaLibrary.Tests/bin
CapicuaLibrary.Tests/obj
ReservasAPI/bin
ReservasAPI/obj
ReservasBusiness/bin
ReservasBusiness/obj
ReservasDTOs/bin
ReservasDTOs/obj
ReservasRepository/bin
ReservasRepository/obj
ReservasUnitTest/bin
ReservasUnitTest/obj
TestA/bin
TestA/obj
TestRepeatedNumber/bin
TestRepeatedNumber/obj